<template name='employees'>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phones</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                    <tr class="employee-grid">
                        <td>{{name}}</td>
                        <td>{{phone.[0]}}</td>
                        <td>{{department}}</td>
                        <td>{{job}}</td>
                        <th id="zlp">
                            <div class="dropdown">
                                <span class="glyphicon glyphicon-option-horizontal dropdown-toggle"  data-toggle="dropdown" aria-hidden="true"></span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{pathFor 'editEmployee' _id=this._id}}">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>

                        </th>
                    </tr>
                {{/each}}
            </tbody>
        </table>



        <a href="{{pathFor 'addEmployee'}}"><button class="btn btn-success add">Add Employee</button></a>
    </div>
</template>