<template name='notes'>
    <div>
        {{#each notes}}
            {{> noteBlock}}
        {{/each}}

        {{#autoForm schema = "Schems.notes" collection = "Notes" id="note-add" type="insert"}}
            <fieldset>
                <legend>Add Note</legend>
                {{> afQuickField name='employeeId'}}
                {{> afQuickField name="note"}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Add note</button>
        {{/autoForm}}
    </div>
</template>