<template name='notices'>
    <div>
        {{#each notices}}
            {{> noticeBlock}}
        {{/each}}

        {{#autoForm schema = "Schems.notices" collection = "Notices" id="notice-add" type="insert"}}
            <fieldset>
                <legend>Add a Notice</legend>
                {{> afQuickField name='employeeId'}}
                {{> afQuickField name="notice"}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Add notice</button>
        {{/autoForm}}
    </div>
</template>